src/automations/workflow_post_appointment.json
{
  "name": "Post-Appointment Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-appointment",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000001",
      "name": "Webhook - Appointment Complete",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "post-appointment-followup"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-name",
              "name": "lead_name",
              "value": "={{ $json.body.lead_name }}",
              "type": "string"
            },
            {
              "id": "extract-phone",
              "name": "lead_phone",
              "value": "={{ $json.body.lead_phone }}",
              "type": "string"
            },
            {
              "id": "extract-type",
              "name": "appointment_type",
              "value": "={{ $json.body.appointment_type }}",
              "type": "string"
            },
            {
              "id": "extract-agent-phone",
              "name": "agent_phone",
              "value": "={{ $json.body.agent_phone || '+1XXXXXXXXXX' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000002",
      "name": "Set - Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "Wait 1 Hour",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8100/api/sms/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.agent_phone, message: 'Hey George, how did the ' + $json.appointment_type + ' appointment with ' + $json.lead_name + ' go? Reply:\\n1 = Signed\\n2 = Reschedule\\n3 = Not interested\\n4 = Need more time' }) }}",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000004",
      "name": "SMS - Ask Agent for Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Post-appointment follow-up scheduled and sent', lead_name: $json.lead_name, appointment_type: $json.appointment_type }) }}",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000005",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Webhook - Appointment Complete": {
      "main": [
        [
          {
            "node": "Set - Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Extract Data": {
      "main": [
        [
          {
            "node": "Wait 1 Hour",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Hour": {
      "main": [
        [
          {
            "node": "SMS - Ask Agent for Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS - Ask Agent for Update": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "real-estate-crm"
    },
    {
      "name": "post-appointment"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
