src/automations/workflow_new_lead.json
{
  "name": "New Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook - New Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "new-lead-intake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gemma4:31b', messages: [ { role: 'system', content: 'You are a real estate lead classification assistant. Given the lead source and data, classify the lead temperature as exactly one of: hot, warm, cold. Respond with ONLY the single word: hot, warm, or cold.' }, { role: 'user', content: 'Classify this lead:\\nName: ' + $json.body.name + '\\nEmail: ' + $json.body.email + '\\nPhone: ' + $json.body.phone + '\\nLead Type: ' + $json.body.lead_type + '\\nSource: ' + $json.body.source } ], stream: false }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "Ollama - Classify Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "temp-extract",
              "name": "temperature",
              "value": "={{ $json.message.content.trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "lead-name",
              "name": "lead_name",
              "value": "={{ $('Webhook - New Lead').item.json.body.name }}",
              "type": "string"
            },
            {
              "id": "lead-email",
              "name": "lead_email",
              "value": "={{ $('Webhook - New Lead').item.json.body.email }}",
              "type": "string"
            },
            {
              "id": "lead-phone",
              "name": "lead_phone",
              "value": "={{ $('Webhook - New Lead').item.json.body.phone }}",
              "type": "string"
            },
            {
              "id": "lead-type",
              "name": "lead_type",
              "value": "={{ $('Webhook - New Lead').item.json.body.lead_type }}",
              "type": "string"
            },
            {
              "id": "lead-source",
              "name": "lead_source",
              "value": "={{ $('Webhook - New Lead').item.json.body.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Set - Extract Temperature",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hot-check",
              "leftValue": "={{ $json.temperature }}",
              "rightValue": "hot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000004",
      "name": "IF - Hot Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8100/api/sms/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.lead_phone, message: 'Hi ' + $json.lead_name + '! This is Teddy from George Ramirez\\'s real estate team. Thanks for reaching out! George is one of the top agents in the area and we\\'d love to help you. Are you available for a quick call in the next 15 minutes?' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000005",
      "name": "SMS - Hot Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8200/api/email/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.lead_email, subject: 'Welcome! George Ramirez Real Estate Team', body: 'Hi ' + $json.lead_name + ',\\n\\nThank you for your interest! I\\'m Teddy, George Ramirez\\'s assistant. George is excited to help you with your ' + $json.lead_type + ' needs.\\n\\nAs a hot lead, we\\'re prioritizing your request. Expect a call from George within the next 15 minutes.\\n\\nIn the meantime, feel free to reply to this email with any questions.\\n\\nBest,\\nTeddy\\nGeorge Ramirez Real Estate Team' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000006",
      "name": "Email - Hot Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8100/api/sms/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.lead_phone, message: 'Hi ' + $json.lead_name + '! This is Teddy from George Ramirez\\'s real estate team. Thanks for your interest! We\\'d love to learn more about what you\\'re looking for. When would be a good time for a quick chat?' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000007",
      "name": "SMS - Warm/Cold Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8200/api/email/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.lead_email, subject: 'Thanks for Your Interest - George Ramirez Real Estate', body: 'Hi ' + $json.lead_name + ',\\n\\nThank you for reaching out! I\\'m Teddy, George Ramirez\\'s assistant.\\n\\nWe received your inquiry about ' + $json.lead_type + ' and would love to help. George has deep expertise in the local market and is ready to assist when you are.\\n\\nFeel free to reply to this email or give us a call anytime.\\n\\nBest,\\nTeddy\\nGeorge Ramirez Real Estate Team' }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000008",
      "name": "Email - Warm/Cold Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 700]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead processed successfully', lead_name: $('Set - Extract Temperature').item.json.lead_name, temperature: $('Set - Extract Temperature').item.json.temperature }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000009",
      "name": "Respond - Success (Hot)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead processed successfully', lead_name: $('Set - Extract Temperature').item.json.lead_name, temperature: $('Set - Extract Temperature').item.json.temperature }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Respond - Success (Warm/Cold)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1460, 610]
    }
  ],
  "connections": {
    "Webhook - New Lead": {
      "main": [
        [
          {
            "node": "Ollama - Classify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Classify Lead": {
      "main": [
        [
          {
            "node": "Set - Extract Temperature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Extract Temperature": {
      "main": [
        [
          {
            "node": "IF - Hot Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Hot Lead": {
      "main": [
        [
          {
            "node": "SMS - Hot Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Hot Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS - Warm/Cold Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email - Warm/Cold Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS - Hot Lead": {
      "main": [
        [
          {
            "node": "Respond - Success (Hot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS - Warm/Cold Lead": {
      "main": [
        [
          {
            "node": "Respond - Success (Warm/Cold)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "real-estate-crm"
    },
    {
      "name": "lead-intake"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
